<form class="form-wrapper">
  <mat-form-field color="accent" class="full-width">
    <input matInput placeholder="Calculator" [formControl]="calcFormControl" />
    <!-- <mat-error
      *ngIf="
        calcFormControl.hasError('pattern') &&
        !calcFormControl.hasError('required')
      "
    >
      Please enter a max of two numbers
    </mat-error> -->
    <mat-error *ngIf="calcFormControl.hasError('required')">
      Numbers are <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <h1 class="result">{{ calculationResult }}</h1>
  <p>
    <button
      [disabled]="!calcFormControl.valid"
      mat-flat-button
      color="accent"
      (click)="calculate()"
    >
      Calculate
    </button>
  </p>
</form>
